In [2]:
import requests
import pandas as pd

# API: STATION LIST: NOT INTERESTING

url = 'https://opendata.emel.pt/cycling/gira/station/list'

response = requests.get(url)

stations = response.json()

df_stations = pd.DataFrame(stations)

In [3]:
df_stations = df_stations.drop(columns = ['tarifario','latitude','longitude','formaspagto','contatoservassistencia','horariofuncionamento','wifi','aberturadt','criacaodtt','servicosextra'])

In [4]:
df_stations

,id_expl,estacaolocalizacao,dispbicicleta,atualizacaodtt,cp7
0,110,110 - Rua de Moscavide,16,30-01-2024 06:00,1900238
1,452,452 - Rua Teixeira de Pascoais / Rua Dr. Gama ...,7,30-01-2024 06:00,1000009
2,460,460 - Av. Rio de Janeiro / Parque de Jogos 1º ...,12,30-01-2024 06:00,1700330
3,472,472 - Rua Marquês Soveral / ES Padre António V...,10,30-01-2024 06:00,1749063
4,415,415 - Av. Duque de Ávila / Av. Conde Valbom,3,30-01-2024 06:00,1000141
...,...,...,...,...,...
150,521,521 - Rua César de Oliveira / Rua Fernando Lop...,12,30-01-2024 06:00,None
151,237,237 - Avenida da India / Praca das Industrias,9,30-01-2024 06:00,None
152,436,436 - Instituto Português de Oncologia,6,30-01-2024 06:00,None
153,435,435 - Interface de Sete Rios,1,30-01-2024 06:00,None
154,105,105 - CC Vasco da Gama,4,30-01-2024 06:00,1990094

In [4]:
# API: STATION AVAILABILITY:
import requests
import pandas as pd

url = 'https://opendata.emel.pt/cycling/gira/station/availability'

response = requests.get(url)

st_availability = response.json()

In [5]:
### Examplo of hoy to get number of bikes available:
st_availability['features'][0]['properties']['num_bicicletas']

11

In [7]:
### Function that get the number of available bikes:

def get_bikes_availables(station_id):
    station_data = next((station['properties'] for station in st_availability['features'] if station['properties']['id_expl'] == str(station_id)), None)
    return station_data['num_bicicletas']

In [8]:
get_bikes_availables(419)

15

In [9]:
### Code to build dataframe with relevant data:

data_list = []

for i in st_availability['features']:
    name = i['properties']
    data_list.append({'id_expl': name['id_expl'], 'desig_comercial': name['desig_comercial'], 'num_bicicletas': name['num_bicicletas'], 'num_docas': name['num_docas'],'update_date':name['update_date']})

# Create DataFrame
list_id_station = pd.DataFrame(data_list)
list_id_station

,id_expl,desig_comercial,num_bicicletas,num_docas,update_date
0,388,109 - Alameda dos Oceanos / Rua Ilha dos Amores,11,14,2023-04-20T01:45:45Z
1,306,306 - Avenida da Liberdade / Rua Alexandre Her...,4,16,2024-01-30T17:55:22Z
2,210,238 - Rua de Cascais / Alcântara Mar,0,0,2022-04-07T11:56:26Z
3,351,352 - Rua Tomás da Anunciação / Rua Almeida e S.,0,17,2022-07-13T15:45:51Z
4,452,452 - Rua Teixeira de Pascoais / Rua Dr. Gama ...,8,10,2024-01-30T17:55:13Z
...,...,...,...,...,...
156,513,513 - Rua Guiomar Torresão/Metro de Carnide,15,20,2024-01-30T17:55:43Z
157,502,502 - Rua São Domingos de Benfica / Rua Franci...,6,16,2024-01-30T17:55:46Z
158,307,307 - Marquês de Pombal,1,33,2024-01-30T17:55:23Z
159,230,230 - Praca D. Manuel I,0,37,2024-01-30T17:55:47Z
160,242,242 - Avenida Torre de Belém / Avenida do Restelo,0,19,2024-01-30T17:55:47Z

In [10]:
list_id_station.to_json('list_id_station.json', orient='records', lines=True)

In [8]:
# API: STATISTICS USAGE:

url = 'https://opendata.emel.pt/cycling/gira/statistics/usage'

response = requests.get(url)

statistics = response.json()

df_statistics = pd.DataFrame(statistics)

In [9]:
df_statistics

    tripStartDate  totalSecondsPerDay  userQtyUnique  avgTripByUserSeconds
0      24-02-2023             5865677           4050           1448.315308
1      13-03-2023             7911606           4944           1600.243932
2      06-04-2023             7462472           3981           1874.521979
3      17-04-2023             9411483           5317           1770.073913
4      02-05-2023            10780631           5980           1802.781103
..            ...                 ...            ...                   ...
329    19-08-2023             5289264           2436           2171.290640
330    01-09-2023             7391302           3836           1926.825338
331    21-09-2023             8566428           5029           1703.405846
332    11-12-2023             8524346           4510           1890.098891
333    16-12-2023             5693479           3002           1896.561958

[334 rows x 4 columns]

In [23]:
# Sorting values by dates

df_statistics['tripStartDate'] = pd.to_datetime(df_statistics['tripStartDate']) 
df_statistics = df_statistics.sort_values(by='tripStartDate', ignore_index=True)

In [28]:
df_statistics.to_json('df_statistics.json', orient='records', lines=True)

In [27]:
df_statistics.tail(10)

    tripStartDate  totalSecondsPerDay  userQtyUnique  avgTripByUserSeconds
324    2023-12-21             7314368           4060           1801.568472
325    2023-12-22             6772821           3663           1848.981981
326    2023-12-23             4393389           2233           1967.482758
327    2023-12-24             1907292           1137           1677.477572
328    2023-12-25             1316606            697           1888.961262
329    2023-12-26             4054864           2208           1836.442028
330    2023-12-27             4474877           2517           1777.861342
331    2023-12-28             4994872           2772           1801.901875
332    2023-12-29             5013051           2725           1839.651743
333    2023-12-30             3451581           1841           1874.840304

In [6]:
# API: BIKELANES: NOT INTERESTING

url = 'https://opendata.emel.pt/cycling/gira/bikelanes'

response = requests.get(url)

bikelanes = response.json()

df_bikelanes = pd.DataFrame(bikelanes)

df_bikelanes.to_json('df_bikelanes.json', orient='records', lines=True)

In [11]:
# API: bicyclecounter/locations: NOT INTERESTING

url = 'https://opendata.emel.pt/cycling/bicyclecounter/locations'

response = requests.get(url)

bicyclecounter = response.json()

df_bicyclecounter = pd.DataFrame(bicyclecounter)

In [12]:
df_bicyclecounter.head(2)

,locationId,tenantIdentifier,name,cp7,freguesia,directionPositive,directionNegative,latitude,longitude
0,2,lisboa.pt.mycycletraffic,#18 - Avenida do Colégio Militar,1500-069,Benfica,None,None,"38,749622968","-9,191152508"
1,3,lisboa.pt.mycycletraffic,#01 - Telheiras - Colégio Alemão,1600-616,Lumiar,None,None,"38,759682478","-9,164044385"

In [10]:
# API: STATISTICS TRIPS:

url = 'https://opendata.emel.pt/cycling/gira/statistics/trips'

response = requests.get(url)

statistics_trips = response.json()

df_statistics_trips = pd.DataFrame(statistics_trips)

df_statistics_trips.to_json('df_statistics_trips.json', orient='records', lines=True)

In [13]:
df_statistics_trips.tail(33)

    tripStartDate  avgTripSeconds  avgTripSecondsRush
301    28-11-2023      899.612451          857.086614
302    29-11-2023      919.617921          883.185553
303    30-11-2023      840.317269          803.265275
304    01-12-2023     1130.388792         1069.130252
305    02-12-2023     1070.358929         1031.754440
306    03-12-2023      979.463436          938.448844
307    04-12-2023      971.034490          950.122711
308    05-12-2023      897.600236          878.755430
309    06-12-2023      981.109428          956.979082
310    07-12-2023      940.973689          899.975591
311    08-12-2023     1131.975133         1117.473379
312    09-12-2023     1099.439250         1009.789776
313    10-12-2023     1092.745292         1013.763568
314    11-12-2023      975.660524          951.926887
315    12-12-2023      935.712481          885.402370
316    13-12-2023      984.886356          953.190093
317    14-12-2023      952.585521          935.255127
318    15-12-2023      963.851843          913.541541
319    16-12-2023     1066.594042         1044.400370
320    17-12-2023     1127.550753         1072.634366
321    18-12-2023      943.219715          892.841426
322    19-12-2023      919.709499          859.110386
323    20-12-2023      931.284633          864.849610
324    21-12-2023      945.497414          895.584412
325    22-12-2023      967.269494          903.010502
326    23-12-2023     1094.516442         1006.626466
327    24-12-2023     1022.676675          900.973782
328    25-12-2023     1274.545982         1242.661904
329    26-12-2023     1003.430833          972.775421
330    27-12-2023      957.807577          911.664392
331    28-12-2023      946.356953          872.980113
332    29-12-2023      998.416849          975.067350
333    30-12-2023     1075.929239         1051.675303